<h3 style="text-align: center;"><b>Sent Notes</b></h3><br>

<mat-accordion>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Receiver
            </mat-panel-title>
            <mat-panel-title class="right-aligned">
                Date & Time
            </mat-panel-title>
        </mat-expansion-panel-header>
    </mat-expansion-panel>
</mat-accordion>

<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
        *ngFor="let note of notes | noteSort: 'sentTime'">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{note.reciever}}
            </mat-panel-title>
            <mat-panel-description class="right-aligned">
                {{note.sentTime | date:'medium' }}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>{{note.message}}<br>
        </p>
    </mat-expansion-panel>
</mat-accordion>