
  <div class="card">
    <div class="card-header" style="text-align: center;">
      <br>
  <h1 style="text-align: center;"><b>Medication</b></h1>
      
    </div>
      <div class="card-body">
        <table class="table table-striped" style="font-size: 15px;">
          <thead>
              <tr style="background-color:#2f4b7c; color: white;">
                  <th style="width: 8%">appNo</th>
                  <th  style="width: 11%">ProductNo</th>
                  <th style="width: 10%">form</th>
                  <th style="width: 12%">strengthString</th>
                  <th style="width: 12%">referenceDrug</th>
                  <th style="width: 14%">activeIngredient</th>
                  <th  style="width: 16%">referenceStandard</th>
                  
              </tr>
          </thead>
          <tbody>
           <tr *ngFor="let medicationObject of medications">
          <td style="width: 8%">{{medicationObject.applNo}}</td>
          <td style="width: 8%">{{medicationObject.productNo}}</td>
          <td style="width: 8%"> {{medicationObject.form}}</td>
          <td style="width: 8%">{{medicationObject.strength}}</td>
          <td style="width: 8%">{{medicationObject.referenceDrug}}</td>
          <td style="width: 8%">{{medicationObject.activeIngredient}}</td>
          <td style="width: 8%">{{medicationObject.referenceStandard}}</td>
          
        
          </tr> 
  
        </tbody>
  
  
         
      </table>
    </div>
  </div>

  
  