<h3 style="text-align: center;"><b>Received Notes</b></h3><br>

<mat-accordion>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Sender
            </mat-panel-title>
            <mat-panel-title class="right-aligned">
                Flag
            </mat-panel-title>
            <mat-panel-title class="right-aligned">
                Date & Time
            </mat-panel-title>
        </mat-expansion-panel-header>
    </mat-expansion-panel>
</mat-accordion>

<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
        *ngFor="let note of notes | noteSort: 'recieveTime'">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{note.sender}}
            </mat-panel-title>
            <mat-panel-description class="right-aligned">
                {{note.isUrgent | noteIsurgent}}
            </mat-panel-description>
            <mat-panel-description class="right-aligned">
                {{note.recieveTime | date:'medium'}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>{{note.message}}
            <br><br>
            Flag: {{note.isUrgent | noteIsurgent}}
            <br><br><br><br>
            <button type="submit" class="btn btn-primary btn-lg"
                (click)="onClick()">Reply</button>&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="submit" class="btn btn-danger btn-lg" (click)="onDelete(note.id)">Delete Note</button><br>
        </p>
    </mat-expansion-panel>
</mat-accordion>