<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<br>
<h1 style="text-align: center;"><b>Patient Details</b></h1>
<br>
<!-- <a routerLink="add-patient-users" class="btn btn-lg btn-success mb-2">Add Patient</a> -->

<!--<div class="search-container" style="text-align: right;">
    <form action="#">
      <input type="text" placeholder="Search.." name="firstName">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>..
  </div>-->



  <div class="search-container" >
   
    <!-- <label class="control-label" style="font-size: 100px;">Search: </label> -->
    <input class = "search-container" type="text" placeholder="Search by first name" class="form-control" name="firstName"  [(ngModel)] = "firstName" (ngModelChange)="search()" >
    <!--<button type="submit"><i class="fa fa-search"></i></button>-->

</div>

<table class="table table-striped" style="font-size: 15px;">
    <thead>
        <tr style="background-color:#2f4b7c; color: seashell;">
            <!-- <th (click)="sort('id')" style="width: 8%">Id&nbsp;<i class="fa fa-sort"></i></th> -->
            <th (click)="sort('title')" style="width: 8%">Title&nbsp;<i class="fa fa-sort"></i></th>
            <th (click)="sort('firstName')" style="width: 15%">Name&nbsp;<i class="fa fa-sort"></i></th>
            <th (click)="sort('dateOfBirth')" style="width: 18%">Date Of Joining&nbsp;<i class="fa fa-sort"></i></th>
            <th (click)="sort('email')" style="width: 15%">Email&nbsp;<i class="fa fa-sort"></i></th>
            <th (click)="sort('phoneNumber')" style="width: 15%">Phone Number&nbsp;<i class="fa fa-sort"></i></th>
            <th (click)="sort('Status')" style="width: 11%">Status&nbsp;<i class="fa fa-sort"></i></th>
            <th style="width: 30%">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let patient of patients | orderBy: key: reverse | paginate: {itemsPerPage:3,currentPage:p};">
            <!-- <td>{{patient.id}}</td> -->
            <td>{{patient.title}}</td>
            <td> {{patient.firstName}} {{patient.lastName}}</td>
            <td>{{patient.user.createDateAndTime | date: "dd/MM/yyyy"}}</td>
            <td>{{patient.user.email}}</td>
            <td>{{patient.user.phoneNumber}}</td>
            <td>{{patient.user.isActive}}</td>
           <!--  <p *ngFor="let pat of patient ">
            <td>{{pat.email}} </td>
            <td>{{pat.phoneNumber}} </td>
           </p> -->
             <td>
                 <!--<button (click)="deletePatient(patient.id)" class="btn btn-danger btn-lg">Delete</button>&nbsp; -->
                <button (click)="updateStatus(patient.id)" mat-raised-button color="accent">Update Status</button>

            </td>
        </tr>

    </tbody>
   
</table>
<br><br><br>
<div class="card" style="font-size: 17px;">
    <div class="card-header">
<pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
</div>