<nav class=" navbar navbar-expand-lg navbar-dark " style="background-color: #2f4b7c;color:white;">

  <img src="./assets/images/MicrosoftTeams-image (1).png" style="height: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;
  <h3>CT General Hospital</h3>

</nav>

<mat-nav-list>

  <div>
    <img src="./assets/images/Patient.jfif" alt="Company Logo" style="height: 140px; width: 260px;" />
  </div>



  <a mat-list-item routerLinkActive="list-item-active" style="font-size: larger;" routerLink="/patient/app-body-layout">
    <mat-icon>dashboard</mat-icon> Patient Dashboard
  </a>



  <mat-accordion>

    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">

      <mat-expansion-panel-header class="specific-class">
        <mat-panel-title style="color: white;">
          Patient Details
        </mat-panel-title>

      </mat-expansion-panel-header>
      <a mat-list-item routerLinkActive="list-item-active" style="font-size: larger;"
        routerLink="/app-body-layout/patient-details">
        Demographics
      </a>

      <a mat-list-item routerLinkActive="list-item-active" style="font-size: larger;"
        routerLink="/app-body-layout/emergency-contact-info">
        Emergency Contact
      </a>

      <a mat-list-item routerLinkActive="list-item-active" style="font-size: larger;"
        routerLink="/app-body-layout/allergy-details">
        Allergies
      </a>

      <a mat-list-item routerLinkActive="list-item-active" style="font-size: larger;"
        routerLink="/app-body-layout/app-patient-allergy-details">
        Previous Allergy
      </a>
    </mat-expansion-panel>

  </mat-accordion>

</mat-nav-list>

<mat-nav-list>

  <mat-accordion>

    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">

      <mat-expansion-panel-header class="specific-class">
        <mat-panel-title style="color: white;">
          Appointment
        </mat-panel-title>

      </mat-expansion-panel-header>
       

      <a mat-list-item routerLinkActive="list-item-active" style="font-size: larger;"
        routerLink="patient-upcoming-appoitments">
        Upcoming
      </a>

      <a mat-list-item routerLinkActive="list-item-active" style="font-size: larger;"
        routerLink="cancelled-appoitments">
        Cancelled
      </a>

      <a mat-list-item routerLinkActive="list-item-active" style="font-size: larger;"
        routerLink="/app-body-layout/book-appointment">
        Book 
      </a> 


    </mat-expansion-panel>
  </mat-accordion>
</mat-nav-list>



<mat-nav-list>

  <mat-accordion>

    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)">


      <mat-expansion-panel-header class="specific-class">
        <mat-panel-title style="color: white;">
          Visit Details
        </mat-panel-title>

      </mat-expansion-panel-header>
      <a mat-list-item routerLinkActive="list-item-active" style="font-size: larger;" routerLink="patient-vital-sign">
        Vital Sign
      </a>
    
      <a mat-list-item routerLinkActive="list-item-active" style="font-size: larger;" routerLink="showdiagnosis">
        Diagnosis
      </a>
      
      <a mat-list-item routerLinkActive="list-item-active" style="font-size: larger;" routerLink="showmedication">
        Medication
      </a>

      <a mat-list-item routerLinkActive="list-item-active" style="font-size: larger;" routerLink="procedure">
        Procedure
      </a>

      

    </mat-expansion-panel>

  </mat-accordion>
</mat-nav-list>



<mat-nav-list>

  <mat-accordion>

    <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)">

      <mat-expansion-panel-header class="specific-class">
        <mat-panel-title style="color: white;">
          Visits
        </mat-panel-title>

      </mat-expansion-panel-header>
      <a mat-list-item routerLinkActive="list-item-active" style="font-size: larger;"
        routerLink="visit-history">
        Visit History
      </a>




    </mat-expansion-panel>

  </mat-accordion>
</mat-nav-list>
