mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 100;
}

ul {
  li {
    list-style: none;
  }
}
button {
  outline: none;
  border: 0;
  background: transparent;
}
.user {
  font-size: 14px;
}
mat-toolbar {
  background: #2f4b7c!important;
}
.user-image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  &-icon {
    height: 18px;
    font-size: 16px;
  }
}

::ng-deep {
  .mat-menu-content {
    width: 160px;
  }
}

.text{
 color: white;
}

.mat-menu-panel.myMenu {
  min-width: 35px;
  max-width: 280px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  max-height: calc(100vh - 48px);
  border-radius: 2px;
  outline: 0;
  background: transparent;
  padding-left: 10px !important;
}


.mat-form-field + .mat-form-field {
  margin-left: 8px;
}