<nav class=" navbar navbar-expand-lg navbar-dark " style="background-color: #2f4b7c;color:white;">

  <img src="./assets/images/MicrosoftTeams-image (1).png" style="height: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;
  <h3>CT General Hospital</h3>

</nav>

<mat-nav-list>

  <div>
    <img src="./assets/images/Physican.jfif" alt="Company Logo" style="height: 140px; width: 260px;" />
  </div>



  <a mat-list-item routerLinkActive="list-item-active" style="font-size: larger;" routerLink="/patient/app-body-layout">
    <mat-icon>dashboard</mat-icon> Physician Dashboard
  </a>


  <mat-nav-list >

    <mat-accordion>

      <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">

        <mat-expansion-panel-header class="specific-class">
          <mat-panel-title style="color: white;">
            Inbox
          </mat-panel-title>

        </mat-expansion-panel-header>
        <a mat-list-item routerLinkActive="list-item-active" style="font-size: larger;"
          routerLink="upcoming-appointments">
          Upcoming Appointments
        </a>
        <a mat-list-item routerLinkActive="list-item-active" style="font-size: larger;" routerLink="notes">
          Send Note
        </a>

        <a mat-list-item routerLinkActive="list-item-active" style="font-size: larger;" routerLink="recieved-notes">
          Recieved Notes
        </a>

        <a mat-list-item routerLinkActive="list-item-active" style="font-size: larger;" routerLink="sent-notes">
          Sent Notes
        </a>



      </mat-expansion-panel>

    </mat-accordion>
  </mat-nav-list>




  <mat-accordion>

    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">


      <mat-expansion-panel-header class="specific-class">
        <mat-panel-title style="color: white;">
          Visit Details
        </mat-panel-title>

      </mat-expansion-panel-header>
      <a mat-list-item routerLinkActive="list-item-active" style="font-size: larger;" routerLink="patient-vital-sign">
        vital sign
      </a>

      <!-- <a mat-list-item routerLinkActive="list-item-active" style="font-size: larger;" routerLink="/app-body-layout/emergency-contact-info">
          Diagnosis
        </a> -->
      <a mat-list-item routerLinkActive="list-item-active" style="font-size: larger;" routerLink="diagnosis">
        Diagnosis
      </a>
      
      <a mat-list-item routerLinkActive="list-item-active" style="font-size: larger;" routerLink="medication">
        Medication
      </a>

      <a mat-list-item routerLinkActive="list-item-active" style="font-size: larger;" routerLink="procedure">
        Procedure
      </a>

      <!-- <a mat-list-item routerLinkActive="list-item-active" style="font-size: larger;" routerLink="patient-details">
        Patient Details
      </a> -->


    </mat-expansion-panel>

  </mat-accordion>

</mat-nav-list>

<mat-nav-list>

  <mat-accordion>

    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)">

      <mat-expansion-panel-header class="specific-class">
        <mat-panel-title style="color: white;">
          Appointment
        </mat-panel-title>

      </mat-expansion-panel-header>
      <a mat-list-item routerLinkActive="list-item-active" style="font-size: larger;"
        routerLink="/app-body-layout/patient-details">
        Notification
      </a>


      <a mat-list-item routerLinkActive="list-item-active" style="font-size: larger;" routerLink="scheduling">
        Scheduling
      </a>

    </mat-expansion-panel>
  </mat-accordion>
</mat-nav-list>


<mat-nav-list>

  <mat-accordion>

    <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)">

      <mat-expansion-panel-header class="specific-class">
        <mat-panel-title style="color: white;">
          Visits
        </mat-panel-title>

      </mat-expansion-panel-header>
      <a mat-list-item routerLinkActive="list-item-active" style="font-size: larger;"
        routerLink="/app-body-layout/patient-details">
        Visit History
      </a>




    </mat-expansion-panel>

  </mat-accordion>
</mat-nav-list>

<mat-nav-list>

  <mat-accordion>

    <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)">

      <mat-expansion-panel-header class="specific-class">
        <mat-panel-title style="color: white;">
          Patient Details
        </mat-panel-title>

      </mat-expansion-panel-header>
      <a mat-list-item routerLinkActive="list-item-active" style="font-size: larger;"
        routerLink="/app-body-layout/patient-details">
        Visit History
      </a>

      <a mat-list-item routerLinkActive="list-item-active" style="font-size: larger;"
        routerLink="/app-body-layout/patient-details">
        Demographics
      </a>

      <a mat-list-item routerLinkActive="list-item-active" style="font-size: larger;"
        routerLink="/app-body-layout/emergency-contact-info">
        Emergency Contact
      </a>

      <a mat-list-item routerLinkActive="list-item-active" style="font-size: larger;"
        routerLink="/app-body-layout/allergy-details">
        Allergies
      </a>

      <a mat-list-item routerLinkActive="list-item-active" style="font-size: larger;"
        routerLink="/physician-dashboard/added-diagnosis">
        Diagnosis
      </a>



    </mat-expansion-panel>

  </mat-accordion>
</mat-nav-list>