<div class="container bootstrap snippet">

    <div class="row">

        <!--/col-3-->
        <div class="col-sm-9">
            <!-- <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" routerLink="/patient-details">Patient Details</a></li>
                <li><a data-toggle="tab" routerLink="/emergency-contact-info">Emergency Contact Info</a></li>
                <li><a data-toggle="tab" href="#settings">Allergy Details</a></li>
            </ul> -->


            <div class="tab-content">
                <div class="tab-pane active" id="home"></div>

                <form [formGroup]="vitalForm">
                    <div class="form-group">

                        <div class="col-xs-6">
                            <label class="control-label">
                                <h4>Height</h4>
                            </label>
                            <input type="text" class="form-control" placeholder="Height" formControlName="Height"
                                [class.is-invalid]="f.touched && f.invalid" >
                        
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-xs-6">
                            <label class="control-label">
                                <h4>Weight</h4>
                            </label>
                            <input type="text" class="form-control" placeholder="Weight" formControlName="Weight">
                        </div>
                    </div>





                    <div class="form-group">

                        <div class="col-xs-6">
                            <label class="control-label">
                                <h4>Blood Pressure</h4>
                            </label>
                            <input type="text" class="form-control" formControlName="Blood_Pressure"
                                placeholder="Blood_Pressure">
                        </div>
                    </div>



                    <div class="form-group">
                        <div class="col-xs-6">
                            <label class="control-label">
                                <h4>Body Temperature</h4>
                            </label>
                            <input type="text" class="form-control" formControlName="Body_Temperature"
                                placeholder="Body_Temperature">
                        </div>
                    </div>




                    <div class="form-group">
                        <div class="col-xs-12">
                            <br>
                            <button class="btn btn-lg btn-success" type="submit" (click)="handleFormSubmit()"><i
                                    class="glyphicon glyphicon-ok-sign"></i> Save</button>

                        </div>
                    </div>
                </form>
            </div>