<mat-form-field appearance="fill">
    <mat-label>Patient</mat-label>
    <select matNativeControl formControlName="patientID" (change)="selectOption($event)" >
       
        <option *ngFor="let patient of patientIdAndName" value="{{patient.mrnNumber}}"> {{patient.firstName}} {{patient.lastName}} {{patient.mrnNumber}} 
        </option>

    </select>
</mat-form-field>
             
              

                <form [formGroup]="vitalForm">

                    <!-- <select formControlName="mrnNumber" (change)="selectOption($event)" (change)="onChangeEvent($event)"> 
                        <option value="">------select-----</option>
                        <option *ngFor="let patient of patientIdAndName" [value]="patient.mrnNumber" >
                    
                            {{patient.firstName}} {{patient.lastName}} </option>
                        
                      </select> -->

                    

                    

                    <div class="float-container">

                        <div class="float-child">
                           

                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Height</mat-label>
                                        <input matInput 
                                        formControlName="Height" [class.is-invalid]="f.Height.touched && f.Height.invalid"  required>
                                      <p class="text-danger" *ngIf="f.Height.touched && f.Height.errors?.required">Please provide Patient height in cms.</p>
                                           
                                    </mat-form-field>
                        
                        </div>
                   

                        <div class="float-child">
                          

                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Weight</mat-label>
                                <input matInput 
                                formControlName="Weight" [class.is-invalid]="f.Weight.touched && f.Weight.invalid" required>
                                <p class="text-danger" *ngIf="f.Weight.touched && f.Weight.errors?.required">
                                    Please provide Patient’s Weight in Kgs</p>
                                   
                            </mat-form-field>
                        </div>
                    </div>


                    <div class="float-container">

                        <div class="float-child">
                           

                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Blood Pressure</mat-label>
                                    <input matInput  formControlName="Blood_Pressure" 
                                    [class.is-invalid]="f.Blood_Pressure.touched && f.Blood_Pressure.invalid" required>
                                    <span class="text-danger" *ngIf="f.Blood_Pressure.touched && f.Blood_Pressure.errors?.required">
                                        Please provide Patient’s Blood Pressure (systolic / diastolic)</span>
                                       
                                </mat-form-field>
                        </div>
                        
                   
                        <div class="float-child">
                        

                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Temperature</mat-label>
                                        <input matInput  formControlName="Body_Temperature" 
                                        [class.is-invalid]="f.Body_Temperature.touched && f.Body_Temperature.invalid" required>
                                        <span class="text-danger" *ngIf="f.Body_Temperature.touched && f.Body_Temperature.errors?.required">
                                            Please provide Patient Body Temperature</span>
                                           
                                    </mat-form-field>
                            </div>

                           
                        
                    </div>

                    <div class="float-container">
                        <div class="float-child">
                           

                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Respiration Rate</mat-label>
                                <input matInput  formControlName="Respiration_Rate" 
                                [class.is-invalid]="f.Respiration_Rate.touched && f.Respiration_Rate.invalid"  required>
                                <p class="text-danger" *ngIf="f.Respiration_Rate.touched && f.Respiration_Rate.errors?.required">
                                    Please provide Patient’s Respiration Rate</p>
                                   
                            </mat-form-field>

                        </div>
                        
                    </div>

                   

                    

                    <div class="float-container">
                        <div class="float-child">
                            <br>
                            <button class="btn btn-lg btn-success" type="submit" (click)="handleFormSubmit()"><i
                                    class="glyphicon glyphicon-ok-sign"></i> Save</button>
                        </div>
                    </div>
                </form>
           