<nav class=" navbar navbar-expand-lg navbar-dark" style="background-color: #2f4b7c;color:white;">
  <img src="./assets/images/MicrosoftTeams-image (1).png" style="height: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;
  <h3>CT General Hospital</h3>
</nav>

<mat-nav-list >

  
   
  <div  >
    <img src="./assets/images/Admin2.jfif" alt="Company Logo" style="height: 140px; width: 260px;"/>
  </div>

    
  
    
    <a mat-list-item routerLinkActive="list-item-active" style="font-size: larger;" >
      <mat-icon>dashboard</mat-icon> Admin Profie
    </a>
  
    <a mat-list-item routerLinkActive="list-item-active" style="font-size: larger;" routerLink="hospital-users">
      Hospital User
    </a>
  
    <a mat-list-item routerLinkActive="list-item-active" style="font-size: larger;" routerLink="patient-users">
       Patient User
    </a>

    <!-- <a mat-list-item routerLinkActive="list-item-active" style="font-size: larger;" routerLink="medication">
      Medication
   </a>

   <a mat-list-item routerLinkActive="list-item-active" style="font-size: larger;" routerLink="notes">
    Notes
 </a>

 <a mat-list-item routerLinkActive="list-item-active" style="font-size: larger;" routerLink="patient-details">
  Patient Details
</a>

<a mat-list-item routerLinkActive="list-item-active" style="font-size: larger;" routerLink="scheduling">
  Scheduling
</a> -->

  
    
  
  
  </mat-nav-list>
  
    
  
  