<mat-nav-list>
  <div class="logo py-4">
    <img src="./assets/CitiusTech-logo.png" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <!-- <h1 matSubheader style="font-size: larger;color: #FFFFFF;" class="mt-2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Patient</h1> -->

  <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
    <mat-icon>home</mat-icon> Home
  </a> -->
  <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    <mat-icon>dashboard</mat-icon> Dashboard
  </a> -->

  

  <a  mat-list-item routerLinkActive="list-item-active" style="font-size: larger;" routerLink="/admin/admin-dashboard">
    <mat-icon>dashboard</mat-icon> Admin Home
    
  </a>

  <a mat-list-item routerLinkActive="list-item-active" style="font-size: larger;" routerLink="/admin/admin-dashboard/hospital-users">
    <mat-icon>dashboard</mat-icon> Hospital user
  </a>
  <a mat-list-item routerLinkActive="list-item-active" style="font-size: larger;" routerLink="/admin/admin-dashboard/patient-users">
    <mat-icon>dashboard</mat-icon> Patient User
  </a>


  <a mat-list-item routerLinkActive="list-item-active" style="font-size: larger;" routerLink="/patient/app-body-layout">
    <mat-icon>dashboard</mat-icon> Patient Profile
  </a>

  <a mat-list-item routerLinkActive="list-item-active" style="font-size: larger;" routerLink="/patient/app-body-layout/patient-details">
    <mat-icon>dashboard</mat-icon> Patient Patient Details
  </a>

  <a mat-list-item routerLinkActive="list-item-active" style="font-size: larger;" routerLink="/patient/app-body-layout/emergency-contact-info">
    <mat-icon>dashboard</mat-icon> Emergency Contact Info
  </a>

  <a mat-list-item routerLinkActive="list-item-active" style="font-size: larger;" routerLink="/patient/app-body-layout/allergy-details">
    <mat-icon>dashboard</mat-icon> Allergy Details
  </a>

  


  
</mat-nav-list>
