<h3 style="text-align: center;"><b>Create Note</b></h3><br>
<form class="form" [formGroup]="notesForm" action="##" method="post" id="notesForm">
    <div class="float-container">

        <div class="float-child">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>To</mat-label>
                <input matInput [ngStyle]="{'color':'black', 'font-size':'15px'}" placeholder="To"
                    formControlName="reciever">
            </mat-form-field>
        </div>
    </div>

    <div class="float-container">

        <div class="float-child">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Message</mat-label>
                <textarea matInput placeholder="message" formControlName="message"
                    placeholder="Enter message here"></textarea>
            </mat-form-field>
        </div>
    </div><br>
    <div class="float-container">

        <div class="float-child">
            <input type="radio" id="urgent" value="true" formControlName="isUrgent">
            <label for=" ">Urgent</label>&nbsp; &nbsp;&nbsp;&nbsp;
            <input type="radio" id="noturgent" value="false" formControlName="isUrgent">
            <label for=" ">Not Urgent</label><br>
        </div>
    </div>

    <!-- <mat-radio-group class="example-full-width">
        <mat-label>Urgency Level </mat-label><br>
        <mat-radio-button value=true  formControlName="isUrgent" >Urgent</mat-radio-button>
        <mat-radio-button value=false formControlName="isUrgent" >Not Urgent</mat-radio-button>
      </mat-radio-group>
    </div> -->

    <!-- <div class="form-group">

        <label for="first_name">
            <h4>To</h4>
        </label>
        <input type="text" class="form-control" [ngStyle]="{'color':'black', 'font-size':'17px'}"
            formControlName="reciever" placeholder="To" />
    </div>

    <br>
    <div class="form-group">

        <label for="subject">
            <h4>Subject</h4>
        </label>
        <input type="textarea" class="form-control" name="subject" [ngStyle]="{'color':'black', 'font-size':'17px'}"
            formControlName="subject" placeholder="enter subject" title="enter your last name if any.">
    </div>

    <br>

    <div class="form-group">

        <label for="message">
            <h4>Message</h4>
        </label>
        <textarea id="w3review" name="w3review" rows="4" cols="50" class="form-control" name="message"
            placeholder="enter message" [ngStyle]="{'color':'black', 'font-size':'17px'}" formControlName="message"
            title="message"></textarea>
    </div>
    <label for="urgency">
        <h4>Note Urgency </h4>
    </label>
    <div class="form-group">
        <input type="radio" id="urgent" name="noteUrgent" value="true" formControlName="isUrgent">
        <label for=" ">Urgent</label>&nbsp; &nbsp;&nbsp;&nbsp;
        <input type="radio" id="noturgent" name="noteUrgent" value="false" formControlName="isUrgent">
        <label for=" ">Not Urgent</label><br>
    </div>
     -->
    <!-- <div class="float-container">
        <input type="radio" id="urgent" value="true" formControlName="isUrgent">
        <label for=" ">Urgent</label>&nbsp; &nbsp;&nbsp;&nbsp;
        <input type="radio" id="noturgent" value="false" formControlName="isUrgent">
        <label for=" ">Not Urgent</label><br>
    </div>
    </div> -->
    <div class="float-container">
        <div class="float-child">

            <button type="submit" class="btn btn-primary btn-lg"  (click)="sendNote()">Send Notes</button><br><br>
        </div>
    </div>
</form>