<mat-toolbar>
    <mat-toolbar-row class="justify-content-between">
      <button mat-icon-button (click)="toggleSidebar()" style="color: white;">
        <mat-icon>menu</mat-icon>
  
      </button>
      <mat-accordion >
      
         
        <!-- #enddocregion basic-panel -->
          <mat-expansion-panel  style="background-color:#003f5c" disabled hideToggle>
            <mat-expansion-panel-header>
              
                <p style="color: white; font-size: larger;">{{usr}}</p>
                <button (click)='logout()' style="color: white;">
                  <mat-icon style="color: greenyellow;">exit_to_app</mat-icon>
                 
                </button>
             
              
            </mat-expansion-panel-header>
           
          </mat-expansion-panel>
        </mat-accordion>
    </mat-toolbar-row>
  </mat-toolbar>
  