<!-- <div class="tab-content">
                <div class="tab-pane active" id="home"> -->

<form class="" [formGroup]="patientDetailsForm" action="##" method="post">
    <div class="float-container">

        <div class="float-child">
            <!-- <label for="first_name">
                                    <h4>First name</h4>
                                </label>
                                <input type="text" class="form-control"
                                    [ngStyle]="{'color':'black', 'font-size':'17px'}"
                                    [(ngModel)]="patientDetails.firstName" formControlName="firstName"
                                    [class.is-invalid]="f.firstName.touched && f.firstName.invalid" readonly /> -->

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>First name</mat-label>
                <input matInput [ngStyle]="{'color':'black', 'font-size':'17px'}" [(ngModel)]="patientDetails.firstName"
                    formControlName="firstName" [class.is-invalid]="f.firstName.touched && f.firstName.invalid"
                    readonly />
            </mat-form-field>
        
    </div>

 

        <div class="float-child">
            <!-- <label for="last_name">
                                    <h4>Last name</h4>
                                </label>
                                <input type="text" class="form-control" name="last_name" id="last_name"
                                    [ngStyle]="{'color':'black', 'font-size':'17px'}"
                                    [(ngModel)]="patientDetails.lastName" formControlName="lastName"
                                    placeholder="last name" title="enter your last name if any." readonly> -->
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Last name</mat-label>
                <input matInput [ngStyle]="{'color':'black', 'font-size':'17px'}" [(ngModel)]="patientDetails.lastName"
                    formControlName="lastName" placeholder="last name" title="enter your last name if any." readonly />
            </mat-form-field>
        </div>

        <div class="float-child">
            <!-- <label for="phone">
                                    <h4>Date of birth</h4>
                                </label>
                                <input type="text" class="form-control" name="dob" placeholder="enter date of birth"
                                    [ngStyle]="{'color':'black', 'font-size':'17px'}"
                                    [(ngModel)]="patientDetails.dateOfBirth" formControlName="dateOfBirth"
                                    title="Date of Birth" readonly> -->
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Date of birth</mat-label>
                <input matInput [ngStyle]="{'color':'black', 'font-size':'17px'}"
                    [(ngModel)]="patientDetails.dateOfBirth" formControlName="dateOfBirth" title="Date of Birth"
                    readonly />
            </mat-form-field>
        </div>
    </div>


   

    <div class="float-container">

        <div class="float-child">
            <!-- <label for="phone">
                                    <h4>Age</h4>
                                </label>
                                <input type="text" class="form-control" name="age" placeholder="enter age"
                                    [ngStyle]="{'color':'black', 'font-size':'17px'}" [(ngModel)]="patientDetails.age"
                                    formControlName="age" title="Age" readonly> -->
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Age</mat-label>
                <input matInput [ngStyle]="{'color':'black', 'font-size':'17px'}" [(ngModel)]="patientDetails.age"
                    formControlName="age" title="Age" readonly>
            </mat-form-field>
        </div>
    


    
        <div class="float-child">
            <!-- <label for="mobile">
                                    <h4>Gender </h4>
                                </label><br> -->

            <!-- <input type="radio" id="female" name="gender" value="Female" formControlName="gender">
                                <label for="female">Female</label>&nbsp;&nbsp;
                                <input type="radio" id="male" name="gender" value="Male" formControlName="gender">
                                <label for="male">Male</label> -->
            <!-- <input type="text" class="form-control"
                                    [ngStyle]="{'color':'black', 'font-size':'17px'}"
                                    [(ngModel)]="patientDetails.gender" formControlName="gender" readonly> -->
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Gender</mat-label>
                <input matInput [ngStyle]="{'color':'black', 'font-size':'17px'}" [(ngModel)]="patientDetails.gender"
                    formControlName="gender" readonly>
            </mat-form-field>

        </div>
    



    <!-- <div class="form-group">

                            <div class="col-xs-6">
                                <label for="password">
                                    <h4>Language Known</h4>
                                </label>
                                <input type="text" class="form-control" name="Language" id="password"
                                [ngStyle]="{'color':'black', 'font-size':'17px'}" [(ngModel)]="patientDetails.languageKnown" formControlName="languageKnown"
                                    placeholder="Language" title="Language Known.">
                            </div>
                        </div> -->
    
        <div class="float-child">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Language Known</mat-label>
                <input matInput name="Language" id="password" [ngStyle]="{'color':'black', 'font-size':'17px'}"
                    [(ngModel)]="patientDetails.languageKnown" formControlName="languageKnown" placeholder="Language"
                    title="Language Known.">
            </mat-form-field>
        </div>
    </div>


    <div class="float-container">

        <div class="float-child">
            <!-- <label for="race">
                                    <h4>Race</h4>
                                </label>
                               
                                <select id="location" class="form-control" formControlName="race"
                                    [ngStyle]="{'color':'black', 'font-size':'12px'}"
                                    [(ngModel)]="patientDetails.race.id">




                                    <option *ngFor="let race of races" value="{{race.id}}">

                                        {{race.name}}

                                    </option>
                                </select> -->



            <mat-form-field appearance="fill">
                <mat-label>Race</mat-label>
                <mat-select formControlName="race" [ngStyle]="{'color':'black', 'font-size':'17px'}"
                    [(ngModel)]="patientDetails.race.id">
                    <mat-option *ngFor="let race of races" value="{{race.id}}">
                        {{race?.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>



        </div>
    
    

  

        <div class="float-child">
            <!-- <label for="password2">
                                    <h4>Ethinicity</h4>
                                </label>
                               
                                <select id="location" class="form-control" formControlName="ethinicity"
                                    [ngStyle]="{'color':'black', 'font-size':'12px'}"
                                    [(ngModel)]="patientDetails.ethinicity.id">




                                    <option *ngFor="let ethinicity of ethinicities" value="{{ethinicity.id}}">

                                        {{ethinicity.name}}

                                    </option>
                                </select> -->


            <mat-form-field appearance="fill">
                <mat-label>Ethinicity</mat-label>
                <mat-select formControlName="ethinicity" [ngStyle]="{'color':'black', 'font-size':'17px'}"
                    [(ngModel)]="patientDetails.ethinicity.id">
                    <mat-option *ngFor="let ethinicity of ethinicities" value="{{ethinicity.id}}">
                        {{ethinicity.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

        </div>
    

        <div class="float-child">
            <!-- <label for="email">
                                    <h4>Email</h4>
                                </label>
                                <input type="email" class="form-control" name="email" id="email" formControlName="email"
                                    [ngStyle]="{'color':'black', 'font-size':'15px'}"
                                    [(ngModel)]="patientDetails.user.email" placeholder="you@email.com"
                                    title="enter your email."> -->
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" [ngStyle]="{'color':'black', 'font-size':'15px'}"
                    [(ngModel)]="patientDetails.user.email" placeholder="you@email.com" title="enter your email.">
            </mat-form-field>
        </div>
    </div>
   

    <div class="float-container">

        <div class="float-child">
            <!-- <label for="email">
                                    <h4>Home Address</h4>
                                </label>
                                <input type="email" class="form-control" id="location" placeholder="Home Address"
                                    [ngStyle]="{'color':'black', 'font-size':'15px'}"
                                    [(ngModel)]="patientDetails.homeAddress" formControlName="homeAddress"
                                    title="enter a location"> -->
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Home Address</mat-label>
                <input matInput [ngStyle]="{'color':'black', 'font-size':'15px'}"
                    [(ngModel)]="patientDetails.homeAddress" formControlName="homeAddress" title="enter a location">
            </mat-form-field>
        </div>
    
        <div class="float-child">
            <!-- <label for="mobile">
                                    <h4>Contact Number</h4>
                                </label>
                                <input type="text" class="form-control" name="mobile" id="mobile"
                                    [ngStyle]="{'color':'black', 'font-size':'15px'}"
                                    [(ngModel)]="patientDetails.user.phoneNumber" formControlName="contactNumber"
                                    placeholder="enter mobile number" title="Contact Number."> -->

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Contact Number</mat-label>
                <input matInput [ngStyle]="{'color':'black', 'font-size':'15px'}"
                    [(ngModel)]="patientDetails.user.phoneNumber" formControlName="contactNumber"
                    placeholder="enter mobile number" title="Contact Number.">
            </mat-form-field>
        </div>
    </div>
    


<div></div>

    <div class="float-container">
        <div class="float-child">
          <button mat-raised-button style="background-color: #2f4b7c; color: white; font-size: 20px;"
                    (click)="updatePatientDetails()">Save</button>

               
        </div>
    </div>
</form>



<!-- </div>
            </div> -->