<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<br>
<h1 style="text-align: center;"><b>Procedure Details</b></h1>
<br>





<div class="search-container" style="width: 30%;">


    <input type="text" placeholder=" Search..." class="form-control" name="procedureCode" [(ngModel)]="procedureCode"
        (ngModelChange)="search()">


</div>

<h3 class="search-container" style="color: green;"><b> Number of procedure added <span
            style="color: red;">{{map.size}}</span></b> </h3>
<table class="table table-striped" style="font-size: 15px;">

    <thead>
        <tr style="background-color:#2f4b7c; color: seashell;">
            <th style="width: 8%">Procedure Code&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
            <th style="width: 8%">&nbsp;Isdeprecated&nbsp;<i class="fa fa-sort"></i></th>
            <th style="width: 30%">procedure Description&nbsp;<i class="fa fa-sort"></i></th>

            <th style="width: 10%">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let proc of procedure | paginate: {itemsPerPage:5,currentPage:p};">
            <td>{{proc.procedureCode}}</td>
            <td>{{proc.isProcedureDpricated}}</td>
            <td> {{proc.procedureDesc}} </td>


            <td>

                <button (click)="addProcedure(proc)" mat-raised-button color="accent">Add</button>


            </td>





        </tr>



    </tbody>

</table>
<br><br><br>
<div class="card" style="font-size: 15px;">
    <div class="card-header">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>


<div class="table table-striped" style="font-size: 20px;">


    <br>
    <div style="margin-left: 2%;">

        <button  (click)="saveProcedure()" class="btn btn-lg search-container" style="background-color: #2f4b7c; color: white;"> Save </button>
    </div>