<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<br>
<h1 style="text-align: center;"><b>Medication Details</b></h1><hr>
<br>
<!-- <a routerLink="add-patient-users" class="btn btn-lg btn-success mb-2">Add Patient</a> -->

<!--<div class="search-container" style="text-align: right;">
    <form action="#">
      <input type="text" placeholder="Search.." name="firstName">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>..
  </div>-->



<div class="search-container" style="width: 30%;">

    <!-- <label class="control-label" style="font-size: 100px;">Search: </label> -->
    <input type="text" placeholder=" Search..." class="form-control" name="applno" [(ngModel)]="applno"
        (ngModelChange)="search()">
    <!--<button type="submit"><i class="fa fa-search"></i></button>-->

</div>
<br>

<table class="table table-striped" style="font-size: 15px;">
    <thead>
        <tr style="background-color:#2f4b7c; color: seashell;">
            <th (click)="sort('id')" style="width: 8%">appNo&nbsp;<i class="fa fa-sort"></i></th>
            <th (click)="sort('title')" style="width: 11%">ProductNo&nbsp;<i class="fa fa-sort"></i></th>
            <th (click)="sort('firstName')" style="width: 10%">form&nbsp;<i class="fa fa-sort"></i></th>
            <th (click)="sort('dateOfBirth')" style="width: 12%">strengthString&nbsp;<i class="fa fa-sort"></i></th>
            <th (click)="sort('email')" style="width: 12%">referenceDrug&nbsp;<i class="fa fa-sort"></i></th>
            <th (click)="sort('phoneNumber')" style="width: 14%">activeIngredient&nbsp;<i class="fa fa-sort"></i></th>
            <th (click)="sort('Status')" style="width: 16%">referenceStandard&nbsp;<i class="fa fa-sort"></i></th>
            <th style="width: 25%">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let medication of medications | orderBy: key: reverse | paginate: {itemsPerPage:5,currentPage:p};">
            <td>{{medication.applNo}}</td>
            <td>{{medication.productNo}}</td>
            <td> {{medication.form}}</td>
            <td>{{medication.strength}}</td>
            <td>{{medication.referenceDrug}}</td>
            <td>{{medication.activeIngredient}}</td>
            <td>{{medication.referenceStandard}}</td>
            <!--  <p *ngFor="let pat of patient ">
            <td>{{pat.email}} </td>
            <td>{{pat.phoneNumber}} </td>
           </p> -->
            <td>
                <!--<button (click)="deletePatient(patient.id)" class="btn btn-danger btn-lg">Delete</button>&nbsp; -->
                <button (click)="addMedication(medication)" mat-raised-button color="accent">Add Medication</button>

            </td>
        </tr>

    </tbody>

</table>
<br><br><br>
<div class="card" style="font-size: 17px;">
    <div class="card-header">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>
<br>
<div class="table table-striped" style="font-size: 15px;">

  
    <tbody>
        <tr *ngFor="let medicationObject of map | keyvalue">
        <td style="width: 8%">{{medicationObject.value.applNo}}</td>
        <td style="width: 8%">{{medicationObject.value.productNo}}</td>
        <td style="width: 8%"> {{medicationObject.value.form}}</td>
        <td style="width: 8%">{{medicationObject.value.strength}}</td>
        <td style="width: 8%">{{medicationObject.value.referenceDrug}}</td>
        <td style="width: 8%">{{medicationObject.value.activeIngredient}}</td>
        <td style="width: 8%">{{medicationObject.value.referenceStandard}}</td>
        <td style="width: 0%">
            <!--<button (click)="deletePatient(patient.id)" class="btn btn-danger btn-lg">Delete</button>&nbsp; -->
            <button (click)="deleteMedication(medicationObject.value.applNo)" mat-raised-button color="warn">Delete</button>
            

        </td>
      
        </tr>

       

</tbody>
<br>
<div style="margin-left: 2%;">
   
<button (click)="saveMedication()" class="btn-lg" style="background-color:#003f5c;color: white;" [disabled]="map.size==0"> Save </button>
</div>
</div>


