<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="container" style="font-size: 15px;">

        <h3 style="text-align: center; font-size: 25px;">Hospital Users</h3>
        <p style="text-align: right;">
            <a routerLink="create-user" class="btn btn-success btn-lg">Add Hospital User</a>
        </p>
        <br>

        <!-- <input class="form-control" type="text" name="firstName" [(ngModel)]="firstName" (ngModelChange)="search()"
            placeholder="Search using Employee ID or Name"> -->

        <br>
        <form [formGroup]="searchForm" (ngSubmit)="searchNew()">
            <div class="input-group" style="width: 40%;">
                <input type="text" class="form-control md" formControlName="keyword"
                    placeholder="Search using Employee ID or First Name or Last Name" />
                <div class="input-group-append">
                    <button class="btn btn-primary btn-lg">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form>

        <br>
        <br>

        <table class="table table-borderless table-hover">
            <thead class="thead thead-light">
                <tr>
                    <th>Employee Id</th>
                    <th>Title</th>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Date of Joining</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let huser of husers">
                    <td>{{huser.employeeid}}</td>
                    <td>{{huser.title}}</td>
                    <td>{{huser.firstName}} {{huser.lastName}}</td>
                    <td>{{huser.user.role.roleName}}</td>
                    <td>{{huser.date_of_birth}}</td>
                    <td>{{huser.user.email}}</td>
                    <td></td>
                    <td>
                        <button class="btn btn-block btn-warning btn-lg" (click)="updateUser(huser.employeeid)">Update
                            Status</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>