
  <div class="card">
    <div class="card-header" style="text-align: center;">
      <br>
      <h1 style="text-align: center;"><b>Procedures</b></h1>
      
    </div>
      <div class="card-body">
        <table class="table table-striped" style="font-size: 15px;">
        <thead>
            <tr style="background-color:#2f4b7c; color: seashell;">
                
                <th style="width: 15%">Procedure Code&nbsp;<i class="fa fa-sort"></i></th>
                <th  style="width: 15%">Isprocedure Active &nbsp;<i class="fa fa-sort"></i></th>
                <th  style="width: 18%">Procedure Description&nbsp;<i class="fa fa-sort"></i></th>
                                                
            </tr>
        </thead>


    <tbody>
       
        
        <tr *ngFor="let procedure of procedure">
           
          
          <td>{{procedure.procedureCode}}</td>
          <td> {{procedure.isProcedureDpricated}} </td>
          <td>{{procedure.procedureDesc}}</td>
        </tr>

       

</tbody> 
  
  
         
      </table>
    </div>
  </div>

  <button (click)="downloadProcedure()" mat-raised-button color="primary">Download Procedure</button>
  