

		<div class="login" align="center">
				
            <form class="form-horizontal">
                <fieldset>
                    
                <div class="form-group"> 
                    <br/>
                    <br/>
                      
                    <!-- <label class="control-label">Title &nbsp;&nbsp;</label> -->
                    <!-- <div class=""> -->
                    &nbsp;<input type="radio" name="title"  value="Mr"> Mr
                        &nbsp;<input type="radio" name="title" value="Ms"> Ms
                        &nbsp;<input type="radio" name="title" value="Mrs"> Mrs
                        &nbsp;<input type="radio" name="title" value="Dr"> Dr
                        
                    <!-- </div>  -->
                </div>
                
                <div class="form-group ">
                    <!-- <label class="form-label left-aligned text">First Name </label> -->
                    <input type="text" class="form-control form-control-lg w" placeholder=" First Name " id="t1"   required />
                    
                </div>
                <div class="form-group ">
                    <!-- <label class="control-label">Last Name </label> -->
                    <input type="text" class="form-control form-control-lg w" placeholder="Last Name" id="t2"   required />
                </div>
                <div class="form-group">
                    <!-- <label class="control-label">Enter Email ID </label> -->
                    <input type="email" class="form-control form-control-lg w" placeholder="Email ID " id="t3"   required />
                    
                </div>
                <div class="form-group">
                    <!-- <label class="control-label">DOB </label> -->
                    <input type="text" class="form-control form-control-lg w" placeholder="Date of Birth" onfocus="(this.type='date')" min="1970-01-01"
                            max="2070-12-31" id="t4"   required />
                    
                </div>
                <div class="form-group ">
                    <!-- <label class="form-label left-aligned text">First Name </label> -->
                    <input type="text" class="form-control form-control-lg w" placeholder=" Contact Number " id="t1"   required />
                    
                </div>

                <div class="form-group ">
                    <!-- <label class="form-label left-aligned text">First Name </label> -->
                    <input type="text" class="form-control form-control-lg w" placeholder=" Password " id="t1"   required />
                    
                </div>
                <div class="form-group ">
                    <!-- <label class="form-label left-aligned text">First Name </label> -->
                    <input type="text" class="form-control form-control-lg w" placeholder=" Confirm Password " id="t1"   required />
                    
                </div>
                
                <button type="submit" class="btn btn-primary btn-lg btn-block w">Register</button>
            </fieldset>
              </form>
        
    </div>
