
<hr>
<div class="container bootstrap snippet">
    
    <div class="row">
        <div class="col-sm-3">
            <!--left col-->


            
        </div>
        <!--/col-3-->
        <div class="col-sm-9">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" routerLink="/patient-details">Patient Details</a></li>
                <li><a data-toggle="tab" routerLink="/emergency-contact-info">Emergency Contact Info</a></li>
                <li><a data-toggle="tab" routerLink="/allergy-details">Allergy Details</a></li>
                         </ul>


            <div class="tab-content">
                <div class="tab-pane active" id="allergy-details">
                    <hr>
                    <form class="form" action="##" method="post" id="registrationForm">
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="allergy_name">
                                    <h4>Allergy Name</h4>
                                </label>
                                <select id="AllergyName" name="AllergyName">
                                    <option value="selectAllergyName">--Allergy Name--</option>
                                  </select>
                            </div>
                        </div>

                        
                        
                            

                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="allergyType">
                                    <h4>Choose Allergy Type &nbsp;</h4>
                                </label>
                                <select id="allergyType" name="allergyType">
                                    <option value="allergy Type">--Allergy Type--</option>
                                  </select>
                            </div>
                        </div>

                       

                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="clinicalInfo">&nbsp;
                                    <h4>Allergy Clinical Information</h4>
                                </label>
                                <select id="AllergyClinicalInfo" name="allergyClinicalInfo">
                                    <option value="Allergy clinical info">--Allergy Clinical Info--</option>
                                  </select>
                            </div>
                        </div>

                       
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="allergy_desc">&nbsp;
                                    <h4>Allergy Description</h4>
                                </label>
                                <input type="text" class="form-control" name="allergy_desc" id="allergy_desc"
                                    placeholder="Allergy Description" title=" ">
                            </div>
                        </div>
                        

                        <div class="form-group">
                            <div class="col-xs-12">
                                <br>
                                <button class="btn btn-lg btn-success" type="submit"><i
                                        class="glyphicon glyphicon-ok-sign"></i> Save</button>
                                
                            </div>
                        </div>
                    

                    <hr>

                
           
                