.float-container {  padding: 20px; margin-top: 4%; margin-left: 5%; } 
.float-child { width: 30%; float: left; padding: 0px; }



input[type=text] {
    padding: 6px;
    margin-bottom: 16px;
    font-size: 17px;
    text-align: left;
    size: 20px;
    height: 35px;
    width: 250px;

    
  }

  .search-container{
    margin-left: 2%;
  }