<form class="form" action="##" method="post" id="registrationForm">
    <div class="float-container">

        <div class="float-child">
            <!-- <label for="allergy_name">
                                    <h4>Allergy Name</h4>
                                </label>
                                <select id="AllergyName" name="AllergyName">
                                    <option value="selectAllergyName">--Allergy Name--</option>
                                </select> -->

            <mat-form-field appearance="fill">
                <mat-label>Allergy Name</mat-label>
                <mat-select id="AllergyName" name="AllergyName">


                    <mat-option *ngFor="let food of foods" [value]="food.value">
                        {{food.viewValue}}
                    </mat-option>

                </mat-select>
            </mat-form-field>
        </div>


        <div class="float-child">
            <!-- <label for="allergyType">
                <h4>Choose Allergy Type &nbsp;</h4>
            </label>
            <select id="allergyType" name="allergyType">
                <option value="allergy Type">--Allergy Type--</option>
            </select> -->
            <mat-form-field appearance="fill">
                <mat-label>Choose Allergy Type</mat-label>
                <mat-select id="allergyType" name="allergyType">
                    <mat-option *ngFor="let food of foods" [value]="food.value">
                        {{food.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
   



    

        <div class="float-child">
            <!-- <label for="clinicalInfo">&nbsp;
                <h4>Allergy Clinical Information</h4>
            </label>
            <select id="AllergyClinicalInfo" name="allergyClinicalInfo">
                <option value="Allergy clinical info">--Allergy Clinical Info--</option>
            </select> -->

            <mat-form-field appearance="fill">
                <mat-label>Allergy Clinical Information</mat-label>
                <mat-select id="AllergyClinicalInfo" name="allergyClinicalInfo" >

                    <mat-option *ngFor="let food of foods" [value]="food.value">
                        {{food.viewValue}}
                    </mat-option>

                </mat-select>
            </mat-form-field>
        </div>
    </div>

        <div class="float-container" >

        <div class="float-child" >
            <!-- <label for="allergy_desc">&nbsp;
                <h4>Allergy Description</h4>
            </label>
            <input type="text" class="form-control" name="allergy_desc" id="allergy_desc"
                placeholder="Allergy Description" title=" "> -->

                <mat-form-field appearance="fill" style="font-size: 20px;width: 400px;">
                    <mat-label>Allergy Description</mat-label>
                    <textarea matInput ></textarea>
                  </mat-form-field>
        </div>
    </div>


    
</form>