<div class="container" style="width: 40%; margin-top: 30px;">
    <h4 ><b>Forgot Password</b></h4>
    <br>
    <form [formGroup]="forgotPassForm">
        <div class="form-group">
            <label class="form-label">Email ID</label>
            <input type="email" id="form1Example13" class="form-control form-control-lg w1 rdx" 
            formControlName="email" placeholder="Email ID" 
            [class.is-invalid]="f.email.touched && f.email.invalid"/>

            <p class="text-danger" *ngIf="f.email.touched && f.email.errors?.required">
                This field cannot be empty
              </p>
              <p class="text-danger" *ngIf="f.email.touched && f.email.errors?.pattern ">
                Please provide valid email.
              </p>
              
              <p class="text-danger" *ngIf="status=='failed'">
                  Your email address is not in our system please register
              </p>
              

        </div>
        
        <br>
        <button class="btn btn-primary" (click) = "forgotPass()">Submit</button>
    </form>
</div>