<form class="" [formGroup]="emergencyCntInfo" action="##" method="post">
    <div class="float-container">

        <div class="float-child">
            <!-- <label for="first_name">
                                <h4>First name</h4>
                            </label>
                            <input type="text" class="form-control" name="first_name" id="first_name" [ngStyle]="{'color':'black', 'font-size':'15px'}" [(ngModel)]="emergencyContactInfo.firstName"
                                placeholder="first name" formControlName="firstName"> -->
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>First name</mat-label>
                <input matInput [ngStyle]="{'color':'black', 'font-size':'15px'}"
                    [(ngModel)]="emergencyContactInfo.firstName" placeholder="first name" formControlName="firstName">
            </mat-form-field>
        </div>


        <div class="float-child">
            <!-- <label for="last_name">
                                <h4>Last name</h4>
                            </label>
                            <input type="text" class="form-control" name="last_name" id="last_name" [ngStyle]="{'color':'black', 'font-size':'15px'}" [(ngModel)]="emergencyContactInfo.lastName"
                                placeholder="last name" formControlName="lastName"> -->

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Last name</mat-label>
                <input matInput [ngStyle]="{'color':'black', 'font-size':'15px'}"
                    [(ngModel)]="emergencyContactInfo.lastName" placeholder="last name" formControlName="lastName">
            </mat-form-field>
        </div>
    </div>

    <div class="float-container">

        <div class="float-child">
            <!-- <label for="phone">
                                <h4>Home Address &nbsp;</h4>
                            </label>
                            
                            <input type="text" class="form-control" name="dob" placeholder="Home Address" formControlName="homeAddress"
                            [ngStyle]="{'color':'black', 'font-size':'15px'}" [(ngModel)]="emergencyContactInfo.homeAddress"> -->

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Home Address</mat-label>
                <input matInput placeholder="Home Address" formControlName="homeAddress"
                    [ngStyle]="{'color':'black', 'font-size':'15px'}" [(ngModel)]="emergencyContactInfo.homeAddress">
            </mat-form-field>
        </div>


        <div class="float-child">
            <!-- <label for="email">
                                <h4>Email</h4>
                            </label>
                            <input type="email" class="form-control" name="email" id="email" placeholder="you@email.com"
                            [ngStyle]="{'color':'black', 'font-size':'15px'}" [(ngModel)]="emergencyContactInfo.emergencyEmail" formControlName="emergencyEmail"> -->

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput placeholder="you@email.com" [ngStyle]="{'color':'black', 'font-size':'15px'}"
                    [(ngModel)]="emergencyContactInfo.emergencyEmail" formControlName="emergencyEmail">
            </mat-form-field>
        </div>
    </div>



    <div class="float-container">
        <div class="float-child">
            <!-- <label for="mobile">
                                <h4>Contact Number</h4>
                            </label>
                            <input type="text" class="form-control" name="mobile" id="mobile" [ngStyle]="{'color':'black', 'font-size':'15px'}" [(ngModel)]="emergencyContactInfo.emergencyContact"
                            formControlName="emergencyContact" placeholder="enter mobile number" title="Contact Number."> -->

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Contact Number</mat-label>
                <input matInput [ngStyle]="{'color':'black', 'font-size':'15px'}"
                    [(ngModel)]="emergencyContactInfo.emergencyContact" formControlName="emergencyContact"
                    placeholder="enter mobile number" title="Contact Number.">
            </mat-form-field>
        </div>



        <div class="float-child">
            <!-- <label for="mobile">
                                <h4>Patient Portal Access </h4>
                            </label><br>
                            <input type="radio" id="Yes" name="acces" value="Yes" formControlName="patientPortalAccess" [(ngModel)]="emergencyContactInfo.patientPortalAccess">
                            <label for="Yes">Yes</label><br>
                            <input type="radio" id="No" name="acces" value="No" formControlName="patientPortalAccess" [(ngModel)]="emergencyContactInfo.patientPortalAccess" >
                            <label for="No">No</label><br> -->

                            <h4>Do you need access to patient portal?</h4>
            <!-- <mat-radio-group aria-label="Select an option">
                <mat-radio-button id="Yes" name="acces" value="true" formControlName="patientPortalAccess" [(ngModel)]="emergencyContactInfo.patientPortalAccess">Yes</mat-radio-button>
                <mat-radio-button  id="No" name="acces" value="false" formControlName="patientPortalAccess" [(ngModel)]="emergencyContactInfo.patientPortalAccess" >No</mat-radio-button>
            </mat-radio-group> -->

        </div>
    </div>

    <div class="float-container">
        <div class="float-child">

            <button mat-raised-button style="background-color: #2f4b7c; color: white; font-size: 20px;"
                (click)="updateEmergencyCntDetails()">Save</button>



        </div>
    </div>

</form>